<!--<header style="display: flex; justify-items: center;">
  <div style="width:80%; display: flex; justify-items: center; ">
        <div class="left">
      </div>
      <div class="right">
          <a href="#" class="nav-placeholder">Word</a>
          <a href="#" class="nav-placeholder">Word</a>
          <a href="#" class="nav-placeholder">Word</a>
      </div>
  </div>
</header> -->
<div *ngIf="isMobile">
  <div class="centered-container">
    
    <div style="width: 70%; text-align: center;">
      <img style="width: 220px; height: 300px; border-radius: 10px;" src="assets/images.jpg" alt="">
      
      <p style="margin-top: 20px;">This app is not supported for mobile devices at this moment. Please use it on a desktop or laptop computer. <br> If you have any interest to see this app on mobile phone message me at lm.unlimited12@gmail.com.</p> <br>

     Thank you
    </div>
  </div>

</div>
<ng-container *ngIf="!isMobile">
  <div class="outer-div">
    <div class="inner-div">
      <div class="sub-div1"></div>
      <div class="sub-div3">
        <span>The Association Method</span>
      </div>
      <div class="sub-div2">
        <a href="#" class="dialog-link" data-dialog-id="about-dialog">About the test</a>
        <a href="#" class="dialog-link" data-dialog-id="how-to-dialog">How to perform a test</a>
      </div>
    </div>
  </div>

  <div id="about-dialog" class="dialog" style="text-align: justify; overflow: scroll; overflow-x: hidden">
    <h2>About the test</h2>
    <div style="display: flex; justify-content: center">
      <!-- Paste the YouTube embed code here -->
      <iframe width="600" height="350" src="https://www.youtube.com/embed/vywRt-TFZVI" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <br>
    <p>
      The Jungian association method, also known as word association, has its
      roots in the early work of Carl Jung, a prominent Swiss psychiatrist and
      psychoanalyst. Jung was a student and colleague of Sigmund Freud, the
      founder of psychoanalysis, but he eventually developed his own unique
      theoretical framework and therapeutic approach, known as analytical
      psychology. <br />
      <br />
      Jung believed that the human psyche consists of both conscious and
      unconscious elements, and that understanding the unconscious was crucial for
      psychological well-being. He saw the unconscious as a rich source of
      personal meaning, symbols, and archetypes that shape an individual's
      experiences and behaviors. <br />
      The association method was one of the techniques Jung used to access the
      unconscious and gain insights into an individual's inner world. By
      presenting a series of words and asking the person to respond with the first
      word or phrase that comes to mind, Jung aimed to tap into the spontaneous
      associations and emotional connections that lie beneath the surface. <br />
      Through careful analysis of the associations, Jung sought to identify
      recurring themes, symbolic patterns, and conflicts that could shed light on
      the person's unconscious dynamics and psychological processes. He believed
      that by bringing unconscious material into conscious awareness, individuals
      could gain a deeper understanding of themselves, resolve inner conflicts,
      and facilitate personal growth and individuation. The association method was
      used by Jung in his therapeutic practice and played a significant role in
      his development of analytical psychology. It became one of the tools
      employed by Jungian analysts and therapists to explore the unconscious
      aspects of a person's psyche. <br />
      <br />
      While the association method has its roots in the work of Carl Jung, it has
      also been used and adapted by other schools of psychology and
      psychoanalysis. It remains a valuable tool for gaining insights into an
      individual's thought processes, emotional connections, and unconscious
      dynamics. It's important to note that the Jungian association method is just
      one aspect of Jungian psychology, which encompasses a broader range of
      concepts and therapeutic techniques. Professional training and expertise are
      typically required to properly administer and interpret the word association
      test in a therapeutic context.
    </p>
    <br />


    <div style="display: flex; justify-content: center">
      <button style="align-self: center" mat-stroked-button color="primary" class="dialog-close-button">
        Close
      </button>
    </div>
  </div>

  <div id="how-to-dialog" class="dialog" style="text-align: justify; text-align: justify; overflow: scroll;">
    <h2>How to perform a test</h2>
    <p style="font-size: 13.5px;">
      To perform the Jungian association method or word association test, you can
      follow these steps:
    </p>
    <p style="font-size: 13.5px; line-height: 1.5">
      1. <b>Preparation:</b> Prepare a list of words that will be used during the
      test. These words are relatively neutral and do not trigger extreme
      emotional reactions. <br />
      2. <b>Setting:</b> Find a quiet and comfortable environment where the
      individual can focus without distractions. Ensure privacy and create a safe
      space for open expression. <br />
      3. <b>Instructions:</b> Explain the purpose and procedure of the word
      association test to the individual. Let them know that they should respond
      with the first word or phrase that comes to mind upon hearing each word,
      without censoring or overthinking their responses. <br />
      4. <b>Presentation:</b> Present the words one at a time, allowing a short
      pause between each word to allow the individual to process and respond.
      Avoid influencing or prompting their responses. <br />
      5. <b>Recording:</b> Write down the individual's responses exactly as they
      provide them. It's important to record the exact words or phrases used, as
      well as any notable emotional or physiological reactions they may display.
      <br />
      6. <b>Completion:</b> Continue presenting words until you have completed the
      predetermined list. You can also choose to stop earlier if the individual
      shows signs of fatigue or if you have gathered sufficient data. <br />
      7. <b>Analysis:</b> Review the recorded responses and look for patterns,
      recurring themes, emotional tones, and any notable associations or
      connections between the presented word and the individual's response.
      Consider both the content of the responses and the timing or hesitations in
      their reactions. <br />
      8. <b>Interpretation:</b>Interpretation of the results requires knowledge
      and expertise in Jungian psychology or psychoanalysis or you can do it on your own, but probably with less accuracy. Analyze the responses
      to gain insights into the individual's unconscious thoughts, emotions,
      conflicts, or underlying psychological dynamics. These insights can be
      valuable for therapeutic purposes.
    </p>

    <p style="font-size: 13.5px;">
      It's worth noting that conducting the Jungian association method may require
      specialized training and experience in psychology or psychoanalysis. If
      you're considering using this test for professional purposes, it's
      recommended to consult with a qualified psychologist or therapist who is
      familiar with Jungian psychology or depth analysis.
    </p>
    <p style="font-size: 13.5px;">*Note: Reproduction column is used to identify any repeated associations or patterns
      that emerge. Use column when you determine that you have found frequent of repeated associations.
    </p>

    <br>
    <div style="display: flex; justify-content: center">
      <button style="align-self: center" mat-stroked-button color="primary" class="dialog-close-button">
        Close
      </button>
    </div>
  </div>

  
  <div class="timer-container">
    <div>
      <button [disabled]="isBtnGenerateDisabled" mat-stroked-button color="warn" style="margin-right: 5px"
        (click)="generateWords()">
        Generate words
      </button>
      <button [disabled]="isButtonBackwardDisabled" mat-stroked-button color="primary" style="margin-right: 5px"
        (click)="previousBtnClick()">
        Previous 25 words
      </button>
      <button [disabled]="isButtonForwardDisabled" mat-stroked-button color="primary" (click)="updatedWords()">
        Next 25 words
      </button>
    </div>
    <app-timer></app-timer>
  </div>
  <div class="timer-container" *ngIf="!isTableEmpty">
    <p>Please generate words first, before moving to another table</p>
  </div>
  <app-table [data]="this.randomWords"></app-table>
  <br />
  <br />
  <div style="width: 80%; margin: 0 auto; background-color: white">
    <table id="customers">
      <thead>
        <tr>
          <th>Analysis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-form-field appearance="fill" style="width: 100%; background-color: white">
              <textarea matInput [(ngModel)]="analysis"></textarea>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />




  <div class="container">
    <button mat-raised-button color="primary" (click)="generatePDF()">
      Generate PDF
    </button>
   
  </div>
  <div class="container">
    <ng-container *ngIf="isPDFGenerated" >
      <p style="color: rgb(63 81 181);">Thank you for completing the test, consider completing this short survery  <b><a href="https://strawpoll.com/polls/GJn47pz63yz" style="color: rgb(48, 61, 134);">survery</a></b> </p>
    </ng-container>
  </div>
  <br />

  <footer class="footer">
    <p>Contact: lm.unlimited12@gmail.com</p>
    <p>&copy; 2023 The Association Method.</p>
  </footer>


</ng-container>
 