<div style="width: 80%; margin: 0 auto; background-color: white;">
    <table id="customers">
        <thead>
          <tr>
            <th>Word</th>
            <th>Time - in seconds</th>
            <th>Response</th>
            <th>Reproduction</th>
          </tr>
        </thead>
        <tbody style="background-color: white;">
          <tr *ngFor="let item of items; let i = index">
                <td>{{ item.word }}</td>
            <td>
              <input class="my-input" type="text" [(ngModel)]="item.time">
            </td>
            <td>
              <input class="my-input" type="text" style="width: 350px;" [(ngModel)]="item.response">
            </td>
            <td>
              <input class="my-input" type="text" [(ngModel)]="item.reproduction">
            </td>
          </tr>
        </tbody>
      </table>
  </div>  